h1{
    background-color: rgb(26, 26, 26);
    color: rgb(87, 239, 122);
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100px;
    border-bottom: 1px solid black;
    font-family: "Wittgenstein", serif;
}